@CHARSET "UTF-8";
* {
    margin:0;
    padding: 0;
    font-family: "Yu Gothic", sans-serif;
}

body {
    font-family: arial,sans-serif;
    font-size: 90%;
    color: #eceeef;
    background-color: #232020;
}

div#container {
    background-color: #484747;
    margin: auto;
    height: 98vh;
}

footer {
    background-color: #414040;
    border: solid 1px #232020;
    bottom: 0;
    position: fixed;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;
}

footer p {
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    background-color: #414040;
    justify-content: space-between;
    margin: auto;
    border: solid #232020;
}

nav li.hier a{
    color: #eceeef;
    text-decoration-line: underline;
}

.logo {
    width: 120px;
    cursor: pointer;
    font-size: 3.5rem;
    padding-left: 1rem;
}

.logo a {
    text-decoration: none;
    color: #eceeef;
}

nav ul li {
    display: inline-block;
    padding: 2rem 1.5rem;
}

nav ul li a{
    text-decoration: none;
    color: #eceeef;
    text-transform: uppercase;
}

.solid {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #eceeef, transparent);
    margin-bottom: 2rem;
}

h3 {
    text-align: center;

}

.invulFormulierVerwijder {
    margin-top: 4rem;
    text-align: center;
}

.invulVeldGroen input[type="submit"], .invulVeldRood input[type="submit"] {
    width: 110px;
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 1.375rem;
}

.invulVeldGroen input{
    color: #2fec2f;
}

.invulVeldRood input{
    color: #e0062d;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.inhoudVerwijder {
    text-align: center;
}

.inhoudVerwijder p {
    font-size: 1rem;
    color: #ECECEC;
    padding-top: 0.5rem;
}

h2, main {
    padding: 15px 10px;
}

h1 {
    height: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1 a {
    text-decoration: none;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 0.7rem;
    color: #ECECEC;
}

h2 {
    text-align: center;
    font-size: 20px;
}

#login-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    transition: 0.2s;
    text-align: center;
    color: #414040;
}

#login-button:hover {
    color: #eceeef;
    background-color: #414040;
}

#logout-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    transition: 0.2s;
    text-align: center;
    color: #414040;
    margin-left: 50px;
    margin-top: 15px;
}

#logout-button:hover {
    color: #eceeef;
    background-color: #414040;
}

#welcome {
    font-size: 20px;
    margin-left: 50px;
}

.alert-danger-login {
    padding: 0.5em;
    background-color: #f2dede;
    border: 1px solid #b94a48;
    color: #b94a48;
    border-radius: 3px;
    width: 30%;
    margin-left: 113px;
    margin-bottom: 15px;
    list-style-type: none;
}

.wijzig img, .verwijder img, .wijzig2 img, .verwijder2 img {
    width: 1.5rem;
    height: 1.5rem;
}

.wijzig {
    padding-left: 0.5rem;
    padding-right: 0.1rem;
}

.knopWijzig, .knopVerwijder {
    background-color: #484747;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border: none;
}

.knopWijzig2, .knopVerwijder2 {
    border-radius: 60px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.knopWijzig:hover, .knopVerwijder:hover, .knopWijzig2:hover, .knopVerwijder2:hover {
    background-color: #414040;
    border-radius: 50px;
}

.wijzig2, .verwijder2 {
    margin-top: 0.5rem;
    width: 2.5rem;
    display: inline-block;
}

.verwijder, .wijzig2, .verwijder2 {
    padding-left: 0.4rem;
    padding-right: 0.5rem;
}

table {
    margin-right: auto;
    margin-left: auto;
    border: double #232020;
}

th, td {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-decoration: none;
    font-size: 0.9rem;
    color: #ECECEC;
}

.alert-danger {
    padding: 0.5em;
    background-color: #f2dede;
    border: 1px solid #b94a48;
    color: #b94a48;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 1em;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.alert-danger ul {
    list-style-type: none;
}

.invulFormulier {
    width: 55%;
    border: dotted #232020;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
    background-color: #414040;
}

.invulFormulier .please {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

label,input,textarea {
    margin-bottom: 16px;
}

input,textarea {
    border: 1px solid #888;
    margin: 2px 0 16px 0;
    outline: 0 none;
    padding: 0.5em;
    line-height:15px;
    border-radius: 3px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    box-sizing: border-box;
}

input[type="submit"] {
    cursor: pointer;
}

.has-error {
    color: #b94a48;
    border-color: #b94a48;
    box-shadow: inset 0px 1px 4px #d59392;
}

.grid-container {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 20px;
}

.grid-item {
    border: dotted #232020;
    background-color: #171515;
    padding: 1rem 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: 50%;
}

/* mobile first */
div#container {
    width: 95%;
}

nav ul li {
    display: block;
    border-bottom: 1px solid #303d11;
}

nav ul li:first-child {
    border-top: 1px solid #303d11;
}

label,input,textarea {
    display: block;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
}
input {
    height: 25px;
}


/* desktop */
@media screen and (min-width: 650px) {
    div#container {
        max-width: 1000px;
    }
    nav ul {
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        box-sizing: border-box;
    }

    nav ul li {
        width: 33%;
        margin: auto;
        border: none;
    }
    nav ul li:first-child {
        border: none;
    }
    nav ul li a {
        text-align: center;
    }
    footer {
        max-width: 1000px;
    }
    .alert-danger {
        width: 614px;
    }
    label,input,textarea {
        display: inline-block;
    }
    label {
        width: 100px;
        text-align: right;
        margin-right: 10px;
    }
    input[type="text"], input[type="email"], input[type="password"], textarea{
        width: 400px;
    }
    input[type="submit"] {
        margin-left: 112px;
    }
    textarea {
        vertical-align: middle;
    }


}

/*
d3bb03 green
977007 brown
303d11 black
f3dc04 yellow
*/